@charset "UTF-8";
body {
    font-family: 微软雅黑, Tahoma, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#room {
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    font-size: 16px !important;
    background: #F3F3F3;
}

.menu {
    line-height: 40px;
}

.text-font {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-color {
    color: #434646;
}

#mess {
    height: 38px;
    max-height: 228px !important;
    overflow: auto;
}

.head, .head img {
    width: 50px;
    height: 50px;
}

.head {
    font-size: 12px;
    overflow: hidden;
}

.table-chat {
    width: 100%;
    margin: 10px 0;
}

.td-head {
    width: 50px;
    vertical-align: top;
}

.td-blank {
    width: 35px;
}

.td-triangle {
    width: 10px;
    vertical-align: top;
}

.bubble-left {
    float: left;
    background-color: #FFF;
}

.bubble-right {
    float: right;
    background-color: #AAD2FF;
}

.bubble-left, .bubble-right {
    border-radius: 10px;
    padding: 10px;
    line-height: 20px;
    min-width: 8px;
    min-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.left-triangle, .left-triangle-common {
    height: 0;
    width: 0;
    border: 6px solid;
    border-color: transparent #FFF transparent transparent;
    margin-top: 19px;
}

.right-triangle, .right-triangle-common {
    height: 0;
    width: 0;
    border: 6px solid;
    border-color: transparent transparent transparent #AAD2FF;
    margin-top: 19px;
}

.left-triangle-common, .right-triangle-common {
    margin-top: 34px;
}

.right-triangle-common {
    border-top: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #AAD2FF;
}

.left-triangle-common {
    border-top: 0;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF;
}

.music-info {
    width: 190px;
    display: inline-block;
    cursor: pointer;
}

.music-color {
    color: #5C3BB5;
}

.music-progress {
    margin-bottom: 2px;
    width: 190px;
    height: 5px;
}

.music-progress[value]::-webkit-progress-value {
    background-color: #5C3BB5;
}

.music-progress[value]::-moz-progress-bar {
    background-color: #5C3BB5;
}

.music-info span {
    display: inline-block;
    color: #7359C0;
}

.music-name {
    width: 100px;
    overflow: hidden;
}

.music-during {
    width: 90px;
    overflow: hidden;
}

/*********************touch**************************/

#slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 14;
    text-align: center;
}

#img-container {
    display: table !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img-container li {
    display: table-cell !important;
    vertical-align: middle !important;
    overflow: hidden;
}

#img-container li .description {
    background: black;
    color: white;
}

div.pinch-zoom {
    position: relative !important;
}

ul, ol {
    margin: 0;
    padding: 0;
}

div.pinch-zoom,
div.pinch-zoom img {
    max-width: 100%;
    max-height: inherit;
    -webkit-user-drag: none;
    z-index: 15;
}

#backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
    background-color: #000;
    display: none;
    opacity: 0.5;
}

/********************表情**********************/

.emotion {
    width: 100%;
    height: 164px;
}

.emotion ul {
    height: 150px !important;
}

.emotion ul li {
    width: 100%;
}

.emotion-table td {
    width: 25%;
    vertical-align: middle;
}

.emotion-table {
    width: 100%;
    text-align: center;
}

.emotion-table .ywz td {
    padding: 0;
}

.emotion-table .ywz td img, .emotion-table .ymj td img {
    max-width: 100%;
    cursor: pointer;
    height: 75px !important;
}

.emotion ol {
    width: 100%;
    height: 14px;
    text-align: center;
    line-height: 14px;
    font-size: 0;
}

.emotion ol li {
    list-style: none;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #ddd;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: middle;
}

.emotion ol li.active {
    background: #64b5e8;
}

/*********************多窗口*******************/

.chat-min {
    font-size: 16px;
    color: #333;
}

.chat-min img, .chat-min .head {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.chat-min span {
    padding-left: 10px;
}

.hidden {
    display: none !important;
}

#contacts {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    opacity: 1 !important;
}

#online {
    position: absolute;
    top: 61px;
    bottom: 1px;
    width: 100%;
    overflow-y: auto;
}

.z-index-normal {
    z-index: 2;
}

.z-index-top {
    z-index: 3;
}

.chat-box {
    position: absolute;
    top: 0;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
}

.chat-personal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chat-personal .chat-back {
    position: absolute;
    left: 5px;
    height: 60px;
    line-height: 60px;
    color: white;
    cursor: pointer;
}

.chat-personal .chat-title {
    background-color: #275CA2;
    color: white;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
}

.chat-personal .chat-title .chat-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.chat-status-online {
    background: #5cb85c;
}

.chat-status-offline {
    background: gray;
}

.chat-content {
    position: absolute;
    margin-top: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #C2D2E3;
}

/******************头像上传*******************/

.headImg-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.headImg-popup button {
    width: 48%;
}

.headImg-popup button:nth-of-type(1) {
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.headImg-popup button:nth-of-type(1):before {
    content: "";
    width: 25px;
    height: 930px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: -20px;
    left: -580px;
    transform: skewX(-45deg);
}

.success-linear:before {
    animation: success-linear 1.5s linear forwards;
}

@-moz-keyframes success-linear {
    to {
        left: 600px;
    }
}

@-webkit-keyframes success-linear {
    to {
        left: 600px;
    }
}

@keyframes success-linear {
    to {
        left: 600px;
    }
}

.headImg-popup .upload-image-box {
    height: 200px;
    border: 1px solid #eee;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
}

.headImg-popup .upload-image-box .move-image {
    height: 200px;
    cursor: move;
    vertical-align: middle;
}

.headImg-popup .upload-image-box img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headImg-popup .upload-image-box .clip-image {
    width: 164px;
    height: 164px;
    border: 2px solid #eee;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    border-radius: 50%;
}

.headImg-popup .range-title i {
    margin-right: .5rem;
}

.inp {
    border: 1px solid #ddd;
    padding: 0.5rem 0.8rem;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 0.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.mt {
    margin-top: 5px;
}

.inp-block {
    display: block;
    width: 100%;
}

.showImage {
    font-size: 0;
    text-align: center;
    margin-top: 10px;
}

.showImage img {
    border-radius: 50%;
}

input[type="range"] {
    background-color: #F3F4F6;
    border-color: #F3F4F6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: move;
    top: 1px;
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
    background-color: #F74461;
    border-radius: 100%;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}