@charset "UTF-8";
body {
    font-family: 微软雅黑, Tahoma, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/*菜单*/
.menu {
    line-height: 40px;
    background: #FFF;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
}

.menu-row {
    display: table;
    width: 100%;
}

.menu button {
    display: table-cell;
    text-align: center;
    width: 33.3%;
    border: 0;
}

.text-font {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-color {
    color: #434646;
}

.mess-input {
    height: 38px;
    max-height: 228px !important;
    overflow: auto;
}

/*气泡*/
.head, .head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.head {
    font-size: 12px;
    overflow: hidden;
}

.table-chat {
    width: 100%;
    margin: 10px 0;
}

.td-head {
    width: 50px;
    vertical-align: top;
}

.td-blank {
    width: 35px;
}

.td-triangle {
    width: 18px;
    vertical-align: top;
}

.bubble-left {
    float: left;
    background-color: #FFF;
    color: #000;
}

.bubble-right {
    float: right;
    background-color: #AAD2FF;
    color: #000;
}

.bubble-left, .bubble-right {
    border-radius: 10px;
    padding: 12px;
    line-height: 20px;
    min-width: 8px;
    min-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.left-triangle, .left-triangle-common {
    height: 0;
    width: 0;
    border-top: 0;
    margin-left: 8px;
    border-color: transparent #FFF transparent transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFF;
}

.right-triangle, .right-triangle-common {
    height: 0;
    width: 0;
    border-top: 0;
    margin-right: 8px;
    border-color: transparent transparent transparent #AAD2FF;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #AAD2FF;
}

.left-triangle-common, .right-triangle-common {
    margin-top: 30px;
}

.left-triangle, .right-triangle {
    margin-top: 10px;
}

.music-info {
    width: 190px;
    display: inline-block;
    cursor: pointer;
    padding-left: 5px;
}

.table-cell {
    display: table-cell;
}

.display-table {
    display: table;
    width: 100%;
}

/*音乐*/
.music-color {
    color: #5C3BB5;
}

.music-progress {
    margin-bottom: 2px;
    width: 185px;
    height: 5px;
}

.music-progress[value]::-webkit-progress-value {
    background-color: #5C3BB5;
}

.music-progress[value]::-moz-progress-bar {
    background-color: #5C3BB5;
}

.music-info span {
    display: inline-block;
    color: #7359C0;
}

.music-name {
    width: 95px;
    overflow: hidden;
}

.music-during {
    width: 90px;
    overflow: hidden;
}

ul, ol {
    margin: 0;
    padding: 0;
}

#backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
    background-color: #000;
    display: none;
    opacity: 0.5;
}

/********************表情**********************/

.emotion {
    width: 100%;
    height: 164px;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
}

.emotion .emotion-row div {
    width: 25%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.emotion .emotion-row img {
    max-width: 100%;
    cursor: pointer;
    height: 75px !important;
}

.emotion .swiper-pagination {
    bottom: 0;
}

/*********************多窗口*******************/

.chat-min {
    font-size: 16px;
    color: #333;
}

.chat-min img, .chat-min .head {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.chat-min span {
    padding-left: 10px;
}

.hidden {
    display: none !important;
}

.z-index-normal {
    z-index: 2;
}

.z-index-top {
    z-index: 3;
}

.chat-room-content {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    font-size: 16px !important;
    color: #333;
    background: #EEE;
}

.chat-title {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    display: table;
    width: 100%;
}

.chat-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.chat-personal, .chat-room-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #C2D2E3;
}

.chat-personal .chat-back {
    position: absolute;
    left: 5px;
    height: 60px;
    line-height: 60px;
    color: white;
    cursor: pointer;
}

.chat-title-color {
    background-color: #275CA2;
    color: white;
}

.chat-personal .chat-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.chat-status-online {
    background: #5cb85c;
}

.chat-status-offline {
    background: gray;
}

.chat-content {
    position: absolute;
    top: 84px;
    bottom: 48px;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.chat-features {
    position: absolute;
    bottom: 10px;
}

.chat-system span {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #ddd;
    color: #fff;
    font-size: 14px;
}

/******************头像上传*******************/

.headImg-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14;
}

.headImg-popup button {
    width: 48%;
}

.headImg-popup button:nth-of-type(1) {
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}

.headImg-popup button:nth-of-type(1):before {
    content: "";
    width: 25px;
    height: 930px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: -20px;
    left: -580px;
    transform: skewX(-45deg);
}

.success-linear:before {
    animation: success-linear 1.5s linear forwards;
}

@-moz-keyframes success-linear {
    to {
        left: 600px;
    }
}

@-webkit-keyframes success-linear {
    to {
        left: 600px;
    }
}

@keyframes success-linear {
    to {
        left: 600px;
    }
}

.headImg-popup .upload-image-box {
    height: 200px;
    border: 1px solid #eee;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
}

.headImg-popup .upload-image-box .move-image {
    height: 200px;
    cursor: move;
    vertical-align: middle;
}

.headImg-popup .upload-image-box img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headImg-popup .upload-image-box .clip-image {
    width: 164px;
    height: 164px;
    border: 2px solid #eee;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    border-radius: 50%;
}

.headImg-popup .range-title i {
    margin-right: .5rem;
}

.inp {
    border: 1px solid #ddd;
    padding: 0.5rem 0.8rem;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 0.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.mt {
    margin-top: 5px;
}

.inp-block {
    display: block;
    width: 100%;
}

.showImage {
    font-size: 0;
    text-align: center;
    margin-top: 10px;
}

.showImage img {
    border-radius: 50%;
}

input[type="range"] {
    background-color: #F3F4F6;
    border-color: #F3F4F6;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: move;
    top: 1px;
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
    background-color: #F74461;
    border-radius: 100%;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*视频*/
.video-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 16;
    font-size: 0;
    overflow-y: auto;
    background: #222;
}

.video-multi {
    display: inline-block;
    width: 50%;
    height: 25%;
    background: #222;
}

.video-double-max {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.video-double-min {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 38.2%;
}

.video-close {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 17;
    font-size: 3rem;
    padding: 0 6px !important;
}

/*消息列表*/
.message-item {
    padding: 5px 0;
    border-bottom: 1px solid #999;
    display: table;
    width: 100%;
}

.message-head {
    padding-left: 10px;
    border-radius: 0;
}

.message-content {
    vertical-align: top;
    padding: 0 10px;
}

.message-title {
    font-size: 18px;
}

.message-time {
    font-size: 14px;
    display: inline-block;
    float: right;
}

.message-new {
    font-size: 14px;
}

.message-last {

}

.message-badge {
    display: inline-block;
    float: right;
    width: 21px;
    border-radius: 50%;
}

.title-left, .title-right {
    width: 20%;
}

.title-center {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

/*联系人列表*/
.contacts-item {
    padding: 5px 0;
    border-bottom: 1px solid #999;
    display: table;
    width: 100%;
}

.contacts-head {
    padding-left: 10px;
    border-radius: 0;
}

.contacts-head, .contacts-head img {
    width: 45px;
    height: 45px;
}

.contacts-content {
    vertical-align: middle;
    padding: 0 10px;
    line-height: 1.5;
}

.contacts-title {
    font-size: 16px;
}

.contacts-prop {
    font-size: 14px;
}

.contacts-btn {
    width: 66px;
}

.width-half {
    width: 45%;
}

/*settings*/
.my-background {
    height: 200px;
    background: #EEE;
    text-align: center;
    line-height: 200px;
}

.my-head {
    width: 160px;
    height: 160px;
}

.my-zone .username {
    font-size: 20px;
}

/*导航窗口*/
.main-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

.main-box .swiper-wrapper {
    position: absolute;
    top: 60px !important;
    bottom: 0;
}

.main-box .swiper-scrollbar {
    position: absolute;
    top: 56px;
    left: 0 !important;
    width: 100% !important;
    height: 4px !important;
    background-color: rgba(0, 0, 0, 0);
}

.main-box .swiper-scrollbar-drag {
    background-color: rgba(255, 255, 255, 1);
}

.main-box .swiper-slide {
    overflow-y: auto;
}

.box-nav {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.box-nav li {
    width: 33.33%;
}

.box-shadow {
    box-shadow: 0 0 5px 1px gray !important;
}
