.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.horizontal-right {
    justify-content: flex-end;
}

.vertical-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.user-select-none {
    user-select: none;
}

.input-medium {
    height: 32px;
    line-height: 32px;
}

.button-medium {
    padding: 8px;
}

.search-bar {
    padding: 0 14px;
}

.slot-group {
    border-left: 1px solid #ddd;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.slot-group-notice {
    color: #999;
    padding: 6px 0;
    font-size: 12px;
}

.slot-group-title {
    font-size: 12px;
}

.slot-group-panel {
    width: 200px;
    height: 396px;
    overflow-y: scroll;
}

.slot-group-panel .lemon-contact {
    height: 102px;
}

.slot-group-avatar img {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.slot-group-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
    width: 64px;
}

.slot-search {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 5px 10px;
}

.lemon-editor__emoji-item {
    width: 47px !important;
}

.lemon-message-text .lemon-message__content img {
    width: 47px !important;
    height: 47px !important;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-content {
    padding: 15px;
}

.modal-header {
    padding-bottom: 15px;
}

.modal-body .group-select select {
    width: 230px;
    height: 292px;
    font-size: 16px;
}

.modal-body .group-select select option {
    padding: 5px;
}

.modal-body .group-select-middle button {
    margin: 5px;
    height: 28px;
}

.modal-footer {
    padding-top: 20px;
}

.modal-footer button {
    margin: 5px;
    height: 28px;
}

.group-name {
    width: 530px;
}