.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-top {
    flex-flow: row wrap;
    align-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.horizontal-right {
    justify-content: flex-end;
}

.horizontal-center {
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.user-select-none {
    user-select: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.input-medium {
    height: 32px;
    line-height: 32px;
}

.button-medium {
    padding: 8px;
}

.search-bar {
    padding: 0 14px;
}

.search-bar input {
    width: 170px;
}

.online-status {
    width: 0;
    height: 0;
    padding: 3px;
    margin: 6px;
    background: #67c23a;
    border-radius: 50%;
    display: inline-block;
}

.slot-group {
    border-left: 1px solid #ddd;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.slot-group-notice {
    color: #999;
    padding: 6px 0;
    font-size: 12px;
}

.slot-group-title {
    font-size: 12px;
}

.slot-group-panel {
    width: 227px;
    height: 396px;
    overflow-y: scroll;
}

.slot-group-panel::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.slot-group-panel .lemon-contact {
    height: 92px;
    padding: 5px;
}

.slot-group-avatar img {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.slot-group-name {
    font-size: 12px;
    line-height: 18px;
    width: 64px;
}

.slot-search {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 5px 10px;
}

.lemon-editor__emoji-item {
    width: 47px !important;
}

.lemon-message-text .lemon-message__content img {
    width: 47px !important;
    height: 47px !important;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-content {
    padding: 15px;
}

.modal-header {
    padding-bottom: 15px;
}

.modal-body .group-select select {
    width: 230px;
    height: 292px;
    font-size: 16px;
}

.modal-body .group-select select option {
    padding: 5px;
}

.modal-body .group-select-middle button {
    margin: 5px;
    height: 28px;
}

.modal-footer {
    padding-top: 20px;
}

.modal-footer button {
    margin: 5px;
    height: 28px;
}

.group-name {
    width: 530px;
}

.call-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../public/static/webrtc/call.png");
    background-size: cover;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.hang-up-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../../public/static/webrtc/hang-up.png");
    background-size: cover;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.minimize-button {
    height: 30px;
}

.minimize-call {
    position: fixed;
    width: 70px;
    top: 50px;
    right: 50px;
    z-index: 10;
}

.local-video video {
    width: 480px;
    max-height: 360px;
    transform: scale(-1, 1);
}

.remote-video video {
    width: 480px;
    max-height: 360px;
}

.video-bar {
    height: 30px;
    margin-top: -5px;
}

.video-tag {
    background-color: rgb(200, 200, 200);
    color: black;
    width: fit-content;
    max-width: 60px;
    line-height: 30px;
}

.local-audio {
    width: 480px;
    height: 120px;
}

.remote-audio {
    width: 480px;
    height: 120px;
}

.audio-bar {
    width: 100px;
    height: 120px;
}

.audio-bar img {
    width: 100px;
    height: 100px;
}

.audio-bar .username {
    margin-top: -4px;
    line-height: 20px;
    background-color: rgb(200, 200, 200);
    color: black;
}